/* css reset */
html {
    box-sizing: border-box;
    font-size: 16px;
    /* overflow: hidden; */
    /* height: 100%; */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #e7e7e7;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    all: unset;
}

/* ------------------------------------- */

body {
    height: 100%;
    background-color: #0B0F14;
}

h2 {
    font-size: 32px;
}

.top {
    padding-inline: 4rem;
}

.top {
    height: 100vh;
    background-image: url('main.png');
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom {
    padding-inline: 6rem;
    background-color: #0B0F14;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.5rem;
}

.pay {
    color: #0042FF;
}

nav {
    display: flex;
    gap: 2rem;
}

.nav-a {
    transition: all 100ms ease-in;
    padding-bottom: 0.5rem;
    cursor: pointer;
}

.nav-a:hover {
    color: white;
    cursor: pointer;
    font-size: 17px;
}

.enter {
    display: flex;
    gap: 0.5rem;
}

.enter>a {
    padding: 0.75rem 1.25rem;
    cursor: pointer;
}

#signup {
    border: 1px solid white;
}

#signup:hover {
    border: 1px solid #0042FF;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-top {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.main-top>h2 {
    width: 70%;
    font-size: 48px;
}

.main-top-link {
    margin: 1.5rem 0 0 1rem;
    display: flex;
    gap: 1.5rem
}

.main-top-link>a,
.advantage2 a {
    padding: .60rem 1.75rem;
}

.openaccount {
    background-color: #0042FF;
    transition: all ease-in 200ms;
}

.openaccount:hover {
    transform: translateY(-4px);
    cursor: pointer;
}

.contactus {
    border: 1px solid #0042FF;
    transition: all ease-in 200ms;

}

.contactus:hover {
    transform: translateY(-4px);
    cursor: pointer;

}

.main-bottom {
    display: flex;
    margin-block: 0 6rem;
    gap: 3rem;
}

.main-bottom span {
    margin-top: 1rem;
    display: block;
    width: 12rem;
    height: 1px;
    background-color: white;
}

#span-1>span {
    margin-top: 1rem;
    display: block;
    width: 4rem;
    height: 1px;
    background-color: #0042FF;
    z-index: 10;
}

.advantage1 {
    display: grid;
    grid-template-columns: auto auto auto;

    padding-top: 1.5rem;
}

.advantage1>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    padding-inline: 4rem;
    padding-block: 1.5rem;
}

.advantage1>div:nth-child(1) {
    border-bottom: 1px solid gray;
}

.advantage1>div:nth-child(2) {
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

.advantage1>div:nth-child(3) {
    border-bottom: 1px solid gray;
}

.advantage1>div>* {
    text-align: center;
}

.advantage-icon {
    filter: brightness(0) invert(1);
}

.advantage-icon1 {
    width: 3.5rem;
}

.advantage-icon2 {
    width: 14rem;
}

.advantage2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12rem 4rem;
    gap: 8rem;
}

.advantage2>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.advantage2>div>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 6rem;
    padding-block: 2rem;
    border-top: 1px solid gray;
}

.sosmed-icon {
    display: flex;
    gap: 1rem;
}